<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">

            <transactionManager type="JDBC"/>
            <dataSource type="POOLED" >
                <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
                <property name="url" value="jdbc:sqlserver://DESKTOP-DOJLBNK\MSSQLTDB:1433;databaseName=ComedorUniversitario;encrypt=true;trustServerCertificate=true;"/>   
                <property name="username" value="sa"/>    
                <property name="password" value="Zkorpio_235460"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers> 
        <mapper resource="mybatis/mapper/AutenticacionMapper.xml"/> 
        <mapper resource="mybatis/mapper/UsuarioMapper.xml"/> 
        <mapper resource="mybatis/mapper/VentaMapper.xml"/>
    </mappers>
</configuration>