<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">
    
    <select id="obtenerUsuario" parameterType="modelo.pojo.Usuario" resultType="modelo.pojo.Usuario">
        SELECT * FROM Administracion.usuarios WHERE usuario = #{usuario}
    </select>
    
</mapper>
