<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productos">
    <select id="buscarPorNombre" parameterType="modelo.pojo.Producto" resultType="modelo.pojo.Producto" statementType="CALLABLE">
        {CALL sps_getObtenerProductosInventario ( 
            #{nombre_producto, mode=IN, jdbcType=VARCHAR}, 
            #{nombre_provedor, mode=IN, jdbcType=VARCHAR}
        )}
    </select>
    
    <select id="obtenerPorVentas" resultType="modelo.pojo.Producto" statementType="CALLABLE">
        {CALL sps_getObtenerVentasPorProducto ()} 
    </select>
    
    <select id="obtenerReporteVentasProovedor" parameterType="int" resultType="modelo.pojo.Producto" statementType="CALLABLE">
         {CALL sps_getReporteVentasPorProveedor (#{proveedor_id, mode=IN , jdbcType=INTEGER})} 
    </select>
    <select id="obtenerReporteVentasPorTipoCliente" resultType="modelo.pojo.VentasPorCliente">
           {CALL sps_getReporteVentasPorTipoCliente ()}
    </select>
</mapper>